@charset "utf-8";

html,
body {
    height: 100%;
}

#wrap {
    height: 100%;
}

#header {
    width: 100%;
    height: 140px;
    background-color: white;
    border-bottom: 1px solid #eee;
    position: fixed;
}

.head_inner {
    width: 1168px;
    margin: 0 auto;
    height: 100%;
    background-color: white;
}

.logo {
    float: left;
    width: 106px;
    height: 93px;
    margin-top: 24px;
}

.logo a {}

.nav {
    float: left;
    margin-left: 70px;
}

#header:hover .sub {
    display: block;
}

#header:hover .sub_bg {
    display: block;
}

.sub_bg {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 140px;
    left: 0;
    z-index: 4;
    display: none;
}

.main {}

.main>li {
    display: inline-block;
    position: relative;
    width: 150px;

}

.main>li>a {
    display: block;
    /* width: 140px; */
    height: 140px;
    line-height: 140px;
    font-size: 20px;
    font-weight: bold;
}

.main>li:hover>a {
    border-bottom: 3px solid goldenrod;
}

.sub {
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    display: none;
    z-index: 4;

}

.sub li {}

.sub li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #555;

}

.sub li a:hover {
    text-decoration: underline;
}

.util {
    float: right;
    margin: 52px 0;
}

.util li {
    display: inline-block;
    margin-left: 10px;
}

.util li a {
    display: block;
    width: 80px;
    height: 36px;
    border-radius: 18px;
    line-height: 36px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.util1 a {
    background-color: #e10012;
}

.util2 a {
    background-color: #ce7e03;
}

.util3 a {
    background-color: #274a36;
}

.util4 a {
    width: 36px;
    height: 36px;
    background: url(/images/ico_search.png)no-repeat;
    background-size: 34px;
    background-position: center center;
    text-indent: -9999px;
}

/* 섹션영역 */
#section {
    width: 1920px;
    margin: 0 auto;
    padding-top: 140px;
    position: relative;
}

.img_slide {
    height: 540px;

}

.live {
    width: 1168px;
    margin: 0 auto;
}

.title {
    margin: 30px auto 60px;
    font-size: 40px;
}

.live_list {
    margin-top: 30px;
}

.live_list li {
    width: 366px;
    height: 438px;
    float: left;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    /* border: 1px solid rgba(0, 0, 0, 0.3);; */
    margin-bottom: 35px;
    ;
}

.mid {
    margin: 0 30px;
}

.live_list li a {}

.live_list li a .list_img {
    margin-bottom: 20px;
}

.live_list li a .list_img img {
    width: 100%;
}

.live_list li a h4 {
    padding: 0 15px;
}

.dot {
    text-align: center;
    margin: 0 0 30px;
}

/* footer영역 */

#footer {
    background-color: #292929;
    width: 100%;
    padding: 30px 0;
}

.foot_inner {
    width: 1168px;
    margin: 0 auto;
}

.f_menu {
    float: left;
}

.f_menu li {}

.f_menu li a {
    display: block;
    padding: 5px 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.f_menu li a.yellow {
    color: yellow !important;
}

.info {
    float: left;

}

.info li {
    padding: 5px 0;
    color: #aaa;
    margin-left: 60px;
}

.sns {
    float: right;
}

.sns li {
    display: inline-block;
    margin-left: 15px;
}

.sns li a {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(/images/ico_sns.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -9999px;
}

li .sns_1 {}

li.sns_2 a {
    background-position: 0 -40px;
}

li.sns_3 a {
    background-position: 0 -80px;
}

li.sns_4 a {
    background-position: 0 -120px;
}

li.snleft{
    width: 100px;
    height: 80px;
    background-image: url(/images/국가공인\ 정보통신접근성\ 품질인증마크.png) !important;
    /* background-repeat: no-repeat; */
    background-position: 0 0;
    background-size: 100px;

}

/* top영역 */
.top {
    width: 120px;
    height: 100%;
    position: fixed;
    border: 1px solid red;
    top: 700px ;
    left:calc(50% + (1168px / 2) + 50px) ;
}

.top a{
    display: block;
    text-align: center;
    margin: 5px 0;
}
.top .pos{
    position: sticky;
    top: 700px;
}